In [7]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3] ->(1,2),(1,3),(2,3) -> 3C2 -> 3!/2!*1!
#{1,2,3,4} ->1,2 1,3 1,4 ,2,3 2,4 3,4 -> 4C2 ->4!/2!*2!

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
combinations([1,2,3,4])

1 2
1 3
1 4
2 3
2 4
3 4

In [18]:
def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
combinations3([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [37]:



def differencepairs(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d =abs(li[i]-li[j])
            if d not in li:
                li.append(d)
    return li
differencepairs([1,2,8])

[1, 2, 8, 7, 6, 5]

In [43]:
def medium(li):
    while(True):
        li2 = differencepairs(li)
        if len(li2) == 0:
            break
    return

def differencepairs(li):
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d =abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    li.extend(newelements)            
    return li
differencepairs([1,9,8])

[1, 9, 8, 7]

In [39]:
a = [1,2,3]
b = [1,3,2]
a = b.copy()# Data copy through direct referencing
a = b[:]
a = b # Data referencing

[1, 3, 2]

In [49]:
# function to identify differences of all 

def differencepairs(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d =abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                differencepairs(li)
    return li
differencepairs([3,8,15])

[3, 8, 15, 5, 12, 2, 9, 1, 6, 7, 4, 10, 13, 14, 11]

In [ ]:
# Convert the list into an
# arithmetic progression

[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

In [56]:
def differencepairs(li):
    c = li.copy()
    newelements = []
    for i in range(len(li)):
        for j in range(i+1,len(li)):
            d =abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li]
li = [3,6,9,12,2]
differencepairs(li)

[[3, 6, 9, 12, 2], [3, 6, 9, 12, 2, 1, 4, 7, 10]]

### Set - Data Structures in python

Represented by {}

In [68]:
a = {1,2,3,4,5,6,0,6,-1,10}

a.add(7)# Adding a single element

#for i in a:
    # print(i,end=" ")
b = {7,8,9,1,2,3} # output doesn't include the repeated values
li = [11,12,13,1]

a.update(b,li)
a

{-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [75]:
a.discard(13)
a

{-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [85]:
a = {10, 1, 2, 3, 4, 5, 6}
b = {7, 8, 9, 1, 2, 3}
c = {23,45}
a.union(b)
# AUB =BUA

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [82]:
a.intersection(b)

{1, 2, 3}

In [86]:
a.isdisjoint(c)

True

In [98]:
a - b # All elements in a which are not in b

{4, 5, 6, 10}

In [88]:
a ^ b # Uncommon elements in either a or b

{4, 5, 6, 7, 8, 9, 10}

In [89]:
b-a # All elements in b which are not in a

{7, 8, 9}

In [92]:
d = set() # Create an empty set
d

set()

In [97]:
li = [1,2,3,4,2,1,2,3,4]
u = set(li)
u

{1, 2, 3, 4}

Proceddural : C

Object Oriented : Java, python

Scripting : PHP,Python , Javascript , Shell, Per1

Functional: Python, Haskell, Scala

Logic: Prolog, Lisp

### List Comprehensions

In [100]:
# List of N natural numbers
n=10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
li = [i for i in range(1,11)]# Printing i
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
# Apply list comprehension to store the cubes on N natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
# Function to calculate the factorial
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)
factorial(3)

# Apply list comprehension to calculate factorial of n natural numbers
n=5
factoriallist = [factorial(i) for i in range(1,n+1)]
factoriallist

[1, 2, 6, 24, 120]

In [18]:
# Store cumulative sum of numbers till n in a list
# n =3,[1,3,6]

def cumulativesum(n):
    sum = 0
    for i in range(1,n+1):
        sum = sum + i
    return sum
n = 5
cumulativesum(n)

15

In [17]:
sumlist = [cumulativesum(i) for i in range(1,n+1)]
sumlist

[1, 3, 6, 10, 15]

In [31]:
n=5
cf = [sum(range(1,i+1)) for i in range(1,n+1)]
cf

[1, 3, 6, 10, 15]

In [43]:

def leapyear(st,et):
    for i in range(st,et+1):
        if (i%400 == 0) or(i%4 == 0 or i%100 !=0):
            return i

leapyear(1970,2019)

1970

In [44]:
# Function to store only leapyears in a given time period
st = 1970
et  = 2019
leapyear = [i for i in range(st,et+1) if i%400 == 0 or ( i%100!=0 and i%4 ==0)]
leapyear

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [50]:
li = [1,2,3,2,1]# NU
u2= []
unique = []
unique = [u2.append(i) for i in li if i not in u2]
u2

[1, 2, 3]

In [51]:
sorted(li)[0]

1

### Iterators

Iterable - strings , lists , tuples , sets , dictionaries

Convert iterable to iterator -> iter()

For Loop:


Iterator:

In [54]:

it = iter('Python')
next(it)
next(it)

'y'

In [57]:
it = iter('Python')
print(next(it))
print(next(it))

P
y

### Generator

Generator is a function

In [81]:
def generator():
    n = 2
    while True:
        n **= 3
        yield n
a = generator()
for i in range(5):
    print(next(a))
next(a)

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208

2824013958708217496949108842204627863351353911851577524683401930862693830361198499905873920995229996970897865498283996578123296865878390947626553088486946106430796091482716120572632072492703527723757359478834530365734912